:root, [data-bs-theme=light] {
    --bs-blue: #1ba2f6;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #ea39b8;
    --bs-red: #e44c55;
    --bs-orange: #f1b633;
    --bs-yellow: #ffc107;
    --bs-green: #3cf281;
    --bs-teal: #3f81a2;
    --bs-cyan: #32fbe2;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #170229;
    --bs-primary: #6f42c1;
    --bs-secondary: #ea39b8;
    --bs-success: #3cf281;
    --bs-info: #1ba2f6;
    --bs-warning: #ffc107;
    --bs-danger: #e44c55;
    --bs-light: #44d9e8;
    --bs-dark: #170229;
    --bs-primary-rgb: 111, 66, 193;
    --bs-secondary-rgb: 234, 57, 184;
    --bs-success-rgb: 60, 242, 129;
    --bs-info-rgb: 27, 162, 246;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 228, 76, 85;
    --bs-light-rgb: 68, 217, 232;
    --bs-dark-rgb: 23, 2, 41;
    --bs-primary-text-emphasis: #2c1a4d;
    --bs-secondary-text-emphasis: #5e174a;
    --bs-success-text-emphasis: #186134;
    --bs-info-text-emphasis: #0b4162;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #5b1e22;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #e2d9f3;
    --bs-secondary-bg-subtle: #fbd7f1;
    --bs-success-bg-subtle: #d8fce6;
}

.h-100px {
    height: 100px;
}

.vh-10 {
    min-height: 10vh;
}

.vh-20 {
    min-height: 20vh;
}

.vh-30 {
    min-height: 30vh;
}

.vh-40 {
    min-height: 40vh;
}

.vh-50 {
    min-height: 50vh;
}

.vh-60 {
    min-height: 60vh;
}

.vh-70 {
    min-height: 70vh;
}

.vh-80 {
    min-height: 80vh;
}

.vh-90 {
    min-height: 90vh;
}

.fs-px-32 {
    font-size: 32px;
}

.fs-px-48 {
    font-size: 48px;
}

.fs-px-64 {
    font-size: 64px;
}

/*main.container {
    margin-bottom: 400px;
}*/

footer a {
    display: block;
    text-decoration: none;
    color: var(--bs-white) !important;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table tr>td:nth-of-type(1),
.table tr>td:nth-of-type(3),
.table tr>td:nth-of-type(4),
.table tr>td:nth-of-type(5),
.table tr>td:nth-of-type(6),
.table tr>th:nth-of-type(1),
.table tr>th:nth-of-type(3),
.table tr>th:nth-of-type(4),
.table tr>th:nth-of-type(5),
.table tr>th:nth-of-type(6) {
    white-space: nowrap;
    width: 1%;
    text-align: center;
}

.carouosel-control-prev {
    justify-content: start !important;
}

.carouosel-control-next {
    justify-content: end !important;
}
